.bg-white{background:#ffffff;}
.orange{color:#004080;padding:0 0 0 10px;}
.round-box{line-height:38px;margin-top:5px;border:1px solid #aaa;border-radius:7px;overflow: hidden;background:#ffffff;}
.round-box li{border-bottom:1px solid #aaa;overflow:hidden;}
.round-box li a.flex-down{width:15px;height:15px;margin:11px 0 0 3px;background:url(../../images/icon/flex-down.png) no-repeat center center;display: block;}
.round-box li a.flex-up{width:15px;height:15px;margin:11px 0 0 3px;background:url(../../images/icon/flex-up.png) no-repeat center center;display: block;}
.round-box li.txtindent{padding:0px 10px;display:block}
.round-box li .label{margin:0 10px 0 0;float:left}
.round-box li .txt-fl{margin:0 10px 0 0;float:left}
.round-box li .label .check{margin:12px 5px;+margin:9px 5px;float:left}
.round-box li select{float:left;margin-top:9px;}
.round-box li textarea{float:left;width:180px;max-width: 180px;min-width: 180px; }
.round-box li .input-txt-short{width:100px;display:inline-block}
