@CHARSET "UTF-8";
/*reset*/
body{font:12px/16px; color:#000;}
body,div,p,ul,li{ padding:0px; margin:0px;}
/*fixed mod*/
.fixed-box{position:relative; height:100%; overflow:hidden;}
.fixed-side{ position:absolute;color:#000; top:0px; left:0px; width:200px;}
.fixed-side1{ position:absolute;color:#000; top:0px; left:0px; width:320px;}
.fixed-side2{ position:absolute;color:#000; top:0px; left:0px; width:620px;}
.fixed-main{position:relative;overflow:hidden; margin-left:203px;}
.fixed-main1{position:relative;overflow:hidden; margin-left:326px;}
.fixed-main2{position:relative;overflow:hidden; margin-left:626px;}
.fixed-map2{position:relative;overflow:hidden; margin-left:612px;}
.fixed-bar{ position:absolute; z-index:3; font-size:0px; background-color:#3D7EB0; line-height:0px; overflow:hidden; top:0px; left:200px; width:4px; cursor:w-resize}
.fixed-bar1{ position:absolute; z-index:3; font-size:0px; background-color:#3D7EB0; line-height:0px; overflow:hidden; top:0px; left:320px; width:4px; cursor:w-resize}
.fixed-bar2{ position:absolute; z-index:3; font-size:0px; background-color:#3D7EB0; line-height:0px; overflow:hidden; top:0px; left:620px; width:4px; cursor:w-resize}
.closebar{ position:absolute; width:4px; height:10px; font-size:0px;overflow:hidde; background:url(../images/main/leftmain.png) no-repeat center center;}
.rightp{background:url(../images/main/rightmain.png) no-repeat center center;}