*{margin:0; padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;cursor:pointer;}
body{ font-family:"Microsoft YaHei" ! important;font-size:12px;}
.all{width: 960px;margin: 0 auto;}

/*--head--*/
.ttlogo
{
    float: left;
    padding: 7px 0 0 14px;
    position: absolute;
    z-index: 100;
    color: White;
    font-size: 22px;
}
#topbar
{
    width: 960px;
    background-color: #213b73;
    margin: 0 auto;
    height: 42px;
}
#topbar ul
{
    padding: 12px 10px 0 10px;
    float: right;
}
#topbar li
{
    float: left;
    margin-right: 10px;
}
#topbar li a
{
    color: White;
}
/*--leftbar--*/

.qq{ width:71px; height:193px; z-index:1; right:2px; visibility:visible; position:absolute; top:300px ; background:url(../images/helpcenter.gif) no-repeat;}


.box-login{background:url(../images/top-login.gif) no-repeat top left}
.box-login p{background:url(../images/bottom-login.gif) no-repeat bottom left;padding-top:10px;padding-left:10px;padding-bottom:20px;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}

.Rcont{position:relative;}
.Rcont .box-login{position:absolute;top:65px;left:200px;width:172px;z-index:100;  }

#main
{
    width: 960px;
    margin: 0 auto;
    background-color: #efefef;
    color: #666;
    overflow: hidden;
}
#main #left-enter
{
    width: 230px;
    float: left;
}
#left-enter .m1
{
    height: 15px;
    background: #213b73;
    border-bottom: 5px solid #7a89ab;
    position: relative;
    line-height: 0;
    font-size: 0;
}
.input_align
{
    vertical-align: middle;
    margin-top: -2px;
    margin-bottom: 1px;
}
#left-enter .parts
{
    padding: 30px 0 0 15px;
    float: left;
}
.part1, .part2, .part3, .part4, .part5
{
    float: left;
}
.part1 .denglu
{
}
.part1 .denglu label
{
    font-size: 14px;
    display: block;
    height: 20px;
}
.part1 .denglu input
{
    border: 1px solid #bdc8d9;
    width: 198px;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    padding: 5px 5px 5px 5px;
}

.part1 .denglu input:focus
{
    border-color: #426DC9;
}
.login-form-error
{
    background: #FFFBFC;
    border-color: #F00 !important;
}


.part1 .remember
{
    margin-top: 40px;
    width: 198px;
}
.part1 .remember a
{
    color: #213b73;
    margin-left: 46px;
}
.part1 .remember a:hover
{
    text-decoration: underline;
}
.part1 .btnOff, .part2 .btnOff, .part1 .btnOn, .part2 .btnOn
{
    float: left;
    background: url(../images/buttonimg.gif) no-repeat;
    border: none;
    text-indent: -9999px;
    font-size: 0;
    height: 34px;
    cursor: pointer;
}
.part1 .btnOn
{
    width: 109px;
    margin-top: 22px;
    background-position: 0 -36px;
}
.part1 .btnOff
{
    width: 109px;
    margin-top: 22px;
    background-position: 0 0;
}
.parts strong
{
    float: left;
    display: block;
    height: 2px;
    width: 190px;
    background: url(../images/buttonimg.gif) repeat-x 0 -172px;
    margin: 22px 0;
}
/*--part2--*/
.part2
{
    height: 100px;
}
.part2 .btnOn
{
    width: 128px;
    background-position: 0 -112px;
    margin: 10px 0 0;
}
.part2 .btnOff
{
    width: 128px;
    background-position: 0 -75px;
    margin: 10px 0 0;
}
/*--part3--*/
.part3 ul
{
    margin-top: 8px;
}
.part3 li
{
    height: 27px;
    line-height: 27px;
}
.part3 a
{
    height: 26px;
    padding-left: 2px;
    color: #666666;
}
.part3 a:hover
{
    color: #213B73;
}
.part3 .tel em, .part3 .iphone em, .part3 .android em, .part4 em
{
    background: url(../images/wapico.gif) no-repeat;
    display: inline-block;
    width: 24px;
    height: 27px;
    float: left;
}
.part3 .tel em
{
    background-position: -62px 0;
}
.part3 .iphone em
{
    background-position: 0 0;
}
.part3 .android em
{
    background-position: -30px 0;
}
.part4 em
{
    background-position: -89px 0;
}
.part4 a
{
    padding-left: 5px;
    color: #213B73;
}
.part4 p
{
    height: 27px;
    line-height: 38px;
}
.part5 .telcenter
{
	width:150px; 
	height:18px;
	background:url(../images/buttonimg.gif) repeat-x 0 -151px;
	margin:10px 0 20px;
}
/*--content--*/
#content
{
    width: 728px;
    background-color: White;
    border: 1px solid #ddd;
    float: right;
    height: 720px;
}

/*--trackGoods--*/
.title
{
    color: #4C618F;
    font-size: 22px;
    font-weight: bold;
    margin: 32px;
    border-bottom: solid 2px #203A72;
    height: 30px;
}
#search
{
    margin-left: 146px;
    margin-top:50px;
}
.chaxun
{
    width: 85px;
    height: 30px;
    margin: 0 20px 0 0;
    line-height: 27px;
    background: url(../images/btnChaXun.gif) no-repeat;
    outline: none;
    padding: 0;
    cursor: pointer;
    border: 0px;
}
.iptmi
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D0D0D0;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    margin: 0 10px 0 0;
    padding-left: 3px;
    width: 270px;
}
.map
{
    width: 660px;
    height: 470px;
    float: right;
    _float: right;
    margin-right: 30px;
    _margin-right: 15px;
    margin-top: 30px;
}

.res 
{
    width:180px; 
    height:234px; 
    position:absolute; 
    z-index:1; 
    color:#000;
    background-color:#ABD23F; 
    float:left; 
    border:solid 1px #CDE3F5; 
    margin: 10px 10px 10px 0px; 
    padding:10px 10px 10px 10px;
    overflow:hidden;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
        

.res p{ line-height:24px;}
    

#footer
{
    margin-top: 10px;
}
#footer p
{
    color: #999;
    text-align: center;
}

/*--register--*/
.regForm{ overflow:hidden; zoom:1; margin-left:80px; }

.regRow{margin-top:20px; margin-bottom:20px; text-align:left; height:32px;}

.regRow label{width:80px; text-align:right; display: block; float:left; color:#000;}

.regRow img{margin-bottom: 0;margin-left: -8px;margin-top: 5px;overflow: hidden;position: absolute;}

.regRow a{ position: absolute; margin-top: 8px; margin-left: 47px;overflow: hidden; } 

.leftCell input{ width:270px; height:30px; line-height:30px; font-size:14px; padding-left:3px; border:#d0d0d0 solid 1px; background:#fff; margin:0 10px 0 0;}

.leftCell{float: left; line-height: 31px; height: 31px; font-size: 14px;}
.rightCell{float: left; line-height: 31px; height: 31px;
                font-size: 12px; color:#979797;margin-left:10px;}

.checkCell{float:left; line-height:31px; height:31px; font-size:12px;  margin-left:10px;}

.checkNO{float:left; line-height:31px; height:31px; font-size:12px;  margin-left:10px; color:#f00;}
.checkOK{float:left; line-height:31px; height:31px; font-size:12px;  margin-left:10px; color:#1A9A14;}

.license{float: left; line-height: 31px; font-size: 14px;}
.license .rcc{float: left; line-height: 31px; height: 31px;font-size: 12px; color:#979797;padding-left:40px; color:#f00;}
.license label{width:270px; display: block; float:left; color:#000; margin-left:34px; color:#979797; font-size:12px;}
.license textarea{ margin-left:82px; border:#d0d0d0 solid 1px; width:442px; height:170px; color:#979797; line-height:26px; font-size:12px; padding:0px 10px 0px 10px ;}
.huoqu
{
    background:url(../images/getvcode.gif) no-repeat; width:122px; height:31px; border:0px;cursor:pointer; float:left;        
}
.huoqujieshu
{
    background:url(../images/getvcodeback.gif) no-repeat; width:122px; height:31px; padding-left:20px; height:31px; line-height:31px; border:0px; color:#fff; font-size:12px; float:left;        
}

.lyTitle{line-height:31px; height:31px; font-size:14px;  width:80px; text-align:right; display: block; float:left; color:#000;}
.lyContent{float: left; font-size: 14px;}
.lyContent textarea{margin-left:0px; border:#d0d0d0 solid 1px; width:402px; height:130px;  color:#979797; line-height:26px; padding:0px 10px 0px 10px ;}

.signsub {width: 201px; margin-left:82px; cursor: pointer; height:34px; background: url(../images/qued_zhuce.jpg) no-repeat; border:0px;}
.rpwdsub {width: 124px; margin-left:82px; cursor: pointer; height:37px; background: url(../images/rpwd.gif) no-repeat; border:0px;}
.sendsub {width: 124px; margin-left:82px; cursor: pointer; height:37px; background: url(../images/send.gif) no-repeat; border:0px;}

/*download*/


.downtop
{
    height: 45px;
    width: 670px;
    margin-left: 33px;
    border-bottom: inset 3px #07142D;
}
.downLeft
{
    width: 282px;
    background-color: Blue;
    height: 430px;
    float: left;
    margin-top: 65px;
}
.downRight
{
    width: 400px;
    background-color: Gray;
    height: 430px;
    float: left;
    margin-top: 65px;
    margin-left: 25px;
}


.downtop{ height:45px; width:670px ;  margin-left:33px;   border-bottom:solid 3px #213a73}
.downtop span{  font-family:ËÎÌå; padding-top:5px; color:#213C73; line-height:60px; font-size:25px; font-weight:bold; padding-left:5px;}

.downLeft{ width:282px; background-color:Blue; height:430px; float:left; margin-top:65px;}
.downRight{width:400px; background-color:Gray; height:430px; float:left;margin-top:65px; margin-left:25px;}

.about{ width:630px; margin-left:70px;  border-bottom-style:dashed;  border-bottom:dashed 1px #CBCBCB; height:155px; font-family:ËÎÌå ; margin-top:20px; height:120px;}
.about ul li{  line-height:25px; width:300px; padding-left:50px;}
.about .title{  font-size:14px; width:300px; padding-left:30px;  font-weight:bold; line-height:30px; }


/*default*/
#content .tongtu_img{height:55px; width:692px; margin-top:20px; margin-left:18px; width:692px; height:339px;}
#content .tongtu_info{width:692px; margin-top:50px; margin-left:18px;}
.tongtu_info .tongtu_info_title{height:25px; width:600px; margin-left:35px;}
.tongtu_info_title span{ font-size:15px; color: #213a73;}
.tongtu_info .tongtu_info_details{height:120px; width:692px; margin-left:18px;}
.tongtu_info_details ul{margin-left:50px;}
.tongtu_info_details ul li{line-height:25px; height:25px;}
.tongtu_info_details ul li span{}
.tongtu_info_details em{background:url(../images/infopoint.gif) no-repeat;width:12px; height:7px;float:left; margin-top:8px;}

/*Iphone¡¢Android*/
#content .detailstitle{height:55px; width:670px; margin-top:20px; margin-left:30px;}
#content .detailscontent{width:670px; margin-left:30px;}
.detailscontent .dleft{width:270px; height:200px; float:left; margin-top:20px; }
.dleft .android{margin-top:20px; margin-left:20px;_margin-left:10px; background:url(../images/android.gif) no-repeat; width:242px; height:490px; float:left}
.dleft .iphone{margin-top:20px; margin-left:20px; background:url(../images/iphone.gif) no-repeat; width:240px; height:490px;}
.detailscontent .dright{width:400px; height:200px; float:left; margin-top:20px; }
.dright .ptitle{float:left; width:400px}
.dright .ptitle .timg{float:left;background:url(../images/title1.gif) no-repeat;border:none;text-indent:-9999px;height:40px;width:177px;margin-top:35px;margin-left:5px}
.dright .ptitle .android{background-position:0 -40px;}
.dright .ptitle .iphone{background-position:0 0;}
.dright .pversion{float:left; width:400px; margin-top:5px}
.pversion ul{margin-left:5px;_margin-left:10px}
.pversion ul li{}
.dright .download{float:left; width:150px;}
.dright .download input{float:left;background:url(../images/load.gif) no-repeat;border:none;text-indent:-9999px;height:56px;width:146px;margin-top:3px;_margin-top:1px;margin-left:5px;_margin-left:10px;cursor:pointer;}
.dright .download .androidbtnOn{background-position:0 0;}
.dright .download .androidbtnOff{background-position:0 -60px;}
.dright .download .iphonebtnOn{background-position:0 -120px;}
.dright .download .iphonebtnOff{background-position:0 -180px;}
.dright .tutorial{float:left; width:240px; margin-top:5px; height:50px}
.dright .tutorial a{color:#213B73; font-size:16px; margin-top:15px; _margin-top:13px; margin-left:20px; float:left}
.dright .dmemo{float:left; width:400px; margin-top:15px}
.dright .dmemo span{margin-left:5px; _margin-left:10px}
.dright .downloadtype{float:left; width:385px; margin-top:10px; display:none;}
.downloadtype .divclose{float:right; height:14px; margin-right:3px; cursor:pointer;}
.downloadtype .bj_tabs_tab {width:380px; height:21px; margin-left:5px; float:left}
.downloadtype .bj_tabs_tab ul li {float:left;}
.downloadtype .bj_tabs_tab ul li a {width:100px; display:block; line-height:20px; text-align:center; background:#F0F0F0; color:#666666; border:1px solid #DEDFDF;}
.downloadtype .bj_tabs_tab ul li.active a {background:#DBEAFD; border:1px solid #C1DBFB;}
.downloadtype .bj_tabs_content {border:1px solid #EFEFEF; padding:20px; margin-left:5px; float:left}
.downloadtype .bj_tabs_content .tabs_content {display:none; width:335px}
.downloadtype .bj_tabs_content .show {display:block;}
.downloadtype .bj_tabs_content .pctitle {height:30px; float:left;}
.downloadtype .bj_tabs_content .pcdown {height:30px; float:left; background:url(../images/down.gif) no-repeat;vertical-align: middle; margin-top:10px;}
.downloadtype .bj_tabs_content .pcdown a{margin-left:20px; padding-top:2px; float:left; color:#213A73; font-weight:bold;}
.downloadtype .bj_tabs_content .mobiletitle {height:30px; float:left;}
.downloadtype .bj_tabs_content .sengurl {background:url(../images/btnback.gif) center no-repeat; border:none; line-height:23px; height:23px; cursor:pointer; width:65px;}
.dright .updatetitle{float:left; width:400px; margin-top:20px}
.dright .updatetitle span{margin-left:5px; _margin-left:10px}
.dright .update{float:left; width:400px; margin-top:5px;}
.dright .update .update_t{float:left; width:380px; height:5px; overflow:hidden; margin-left:5px; background-color:#f6f6f6;}
.update_t .tl{float:left;background:url(../images/topleft.gif) no-repeat; height:5px; width:5px;}
.update_t .tm{float:left; height:4px; overflow:hidden; width:370px; border-top:1px solid #dfe2e9;}
.update_t .tr{float:left;background:url(../images/topright.gif) no-repeat; height:5px; width:5px;}
.dright .update .update_c{float:left; width:378px; border-left:1px solid #dfe2e9; border-right:1px solid #dfe2e9; margin-left:5px; background-color:#f6f6f6;}
.update_c ul{margin-left:5px;_margin-left:10px; font-size:13px; padding:10px;}
.update_c ul li{line-height:25px; _line-height:20px; height:25px; _height:15px;}
.update_c em{background:url(../images/listpoint.gif) no-repeat;width:10px; height:4px;float:left; margin-top:10px; _margin-top:5px}
.dright .update .update_b{float:left; width:380px; height:5px; overflow:hidden; margin-left:5px; background-color:#f6f6f6;}
.update_b .bl{float:left;background:url(../images/bottomleft.gif) no-repeat; height:5px; width:5px;}
.update_b .bm{float:left; height:4px; overflow:hidden; width:370px; border-bottom:1px solid #dfe2e9;}
.update_b .br{float:left;background:url(../images/bottomright.gif) no-repeat; height:5px; width:5px;}
.help{ font-size:12px; width:285px;  _width:220px  line-height:25px;overflow:hidden;  line-height:25px; margin-left:10px;}
.help ul li{  list-style-type:none;}
.help ul li img{ padding-left:9px; }
.back{ width:22px; height:30px; z-index:1; right:2px; visibility:visible; position:absolute; top:300px ; background:url(../images/back.png) no-repeat;}
.funcbar{background-color:#f0f0f0;border-bottom:1px solid #d7d7d7;padding:8px 12px;overflow:hidden;zoom:1;}
.funcbar .contacts{margin-left:5px;}
.funcbar .contacts .inpt{padding:7px 5px;margin:3px 0;width:100%;}
.funcbar .contacts .droplist{margin-left:-5px;}
.funcbar .btn{position:relative;right:-7px;top:3px;}
.dright .areatreetype{float:left; width:200px; margin-top:0px; display:none;}
.areatreetype .divclose{float:right; height:14px; margin-right:0px; cursor:pointer;}
.areatreetype .bj_tabs_tab {width:200px; height:21px; margin-left:5px; float:left}
.areatreetype .bj_tabs_tab ul li {float:left;}
.areatreetype .bj_tabs_tab ul li a {width:90px; display:block; line-height:20px; text-align:center; background:#F0F0F0; color:#666666; border:1px solid #DEDFDF;}
.areatreetype .bj_tabs_tab ul li.active a {background:#DBEAFD; border:1px solid #C1DBFB;}
.areatreetype .bj_tabs_content {border:1px solid #EFEFEF; padding:5px; margin-left:0px;margin-right:0px; float:left}
.areatreetype .bj_tabs_content .tabs_content {display:none; width:200px}
.areatreetype .bj_tabs_content .show {display:block;}
.areatreetype .bj_tabs_content .pctitle {height:30px; float:left;}
.areatreetype .bj_tabs_content .pcdown {height:30px; float:left; background:url(../images/down.gif) no-repeat;vertical-align: middle; margin-top:10px;}
.areatreetype .bj_tabs_content .pcdown a{margin-left:20px; padding-top:2px; float:left; color:#213A73; font-weight:bold;}
.areatreetype .bj_tabs_content .mobiletitle {height:30px; float:left;}
.areatreetype .bj_tabs_content .sengurl {background:url(../images/btnback.gif) center no-repeat; border:none; line-height:23px; height:23px; cursor:pointer; width:65px;}