.loading-indicator {
	height: 90px;
	width: 100px;
	background: url( '../images/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}
.loading-msg {
	height: 20px;
	width: 220px;
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}