.jspContainer{overflow:hidden;position:relative;}
.jspPane{position:absolute;top:0px;}
.jspVerticalBar{position:absolute;top:0;right:0;width:9px;height:100%;}
.jspHorizontalBar{position:absolute;bottom:0;left:0;width:100%;height:16px;*display:none;}
.jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0;}
.jspCap{display:none;}
.jspHorizontalBar .jspCap{float:left;}
.jspTrack{position:relative;background:url(../../images/map/scroll-v.gif) no-repeat scroll 3px center transparent;}
.jspDrag{position:relative;top:0;left:0;cursor:pointer;background:url(../../images/map/scroll-v.gif) no-repeat scroll -12px center transparent;height:100%;width:100%;}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left;height:100%;}
.jspArrow{background:#50506d;text-indent:-20000px;display:block;cursor:pointer;}
.jspArrow.jspDisabled{cursor:default;background:#80808d;}
.jspVerticalBar .jspArrow{height:16px;}
.jspHorizontalBar .jspArrow{width:16px;float:left;height:100%;}
.jspVerticalBar .jspArrow:focus{outline:none;}
.jspCorner{background:#eeeef4;float:left;height:100%;}
* html .jspCorner{margin:0 -3px 0 0;}
.jspDragTop{background:url(../../images/map/scroll-v.gif) repeat scroll -36px 0 transparent;font-size:0;height:4px;position:absolute;top:0;width:100%;}
.jspDragBottom{background:url(../../images/map/scroll-v.gif) repeat scroll -36px -4px transparent;bottom:0 !important;font-size:0;height:4px;position:absolute;width:100%;}
.hover .jspTrack{background-position:-3px center;} 
.hover .jspDrag{background-position:-24px center;}
.hover .jspDrag .jspDragTop{background-position:-36px -11px;}
.hover .jspDrag .jspDragBottom{background-position:-36px -15px;}
#tools{background:url(../../images/map/nav_bj.gif) repeat-x;color:#333333;height:32px;line-height:32px;*line-height:30px;white-space:nowrap;position:relative;}
.tools_l{padding:0 5px;position:absolute;top:0px;}
.tools_l img{*margin-top:5px;cursor:pointer}
.tools_l .inputTxt{width:100px;height:22px;border:1px solid #ccc;*margin-top:2px;*line-height:20px;}
#wrapper{width:100%;position:relative;*position:inherit;}
#MapInfo{width:309px;position:relative;}
#contentWrap{width:305px;position:relative;outline:none;}
#MapHolder{background:#F3F3F3;left:0;position:relative;z-index:0;margin-right:310px;}
#MapInfoCon{position:absolute;right:0;top:0;width:309px;background:#fff;border-left:#ccc solid 1px;z-index:10;*top:32px;}
#ToolsCon .toolsTitle{font-size:12px;height:30px;line-height:30px;margin-bottom:5px;background:none repeat scroll 0 0 #D9E8FB;color:#4174D9;padding:0 10px;}
.toolsTitle span{float:right;color:#4D4D4D;*margin-top:-30px;}
.txtPanel{color:#333333;line-height:18px;padding:5px 5px 5px 10px;}
.result{width:100%;font-size:12px;color:#000;}
.result th{text-align:left;vertical-align:top;width:31px;}
.result td{font-size:12px;line-height:160%;padding:2px 0 3px 3px;vertical-align:top;}
.result th div{background:url(../../images/map/markers.png) no-repeat scroll 0 0 transparent;height:29px;margin:4px 0 0 7px;width:19px;}
.result th div.icon{cursor:pointer;}
.result th div.disabled{background-image:url(../../images/map/markers_disabled.png)}
.result th div#no1{background-position:0 -198px;}
.result th div#no2{background-position:-24px -198px;}
.result th div#no3{background-position:-48px -198px;}
.result th div#no4{background-position:-72px -198px;}
.result th div#no5{background-position:-96px -198px;}
.result th div#no6{background-position:-120px -198px;}
.result th div#no7{background-position:-144px -198px;}
.result th div#no8{background-position:-168px -198px;}
.result th div#no9{background-position:-192px -198px;}
.result th div#no10{background-position:-216px -198px;}
.result tr.focus-over{background:none repeat scroll 0 0 #f0f0f0;cursor:pointer;}
.result .focus-over #no1{background-position:0 -230px;}
.result .focus-over #no2{background-position:-24px -230px;}
.result .focus-over #no3{background-position:-48px -230px;}
.result .focus-over #no4{background-position:-72px -230px;}
.result .focus-over #no5{background-position:-96px -230px;}
.result .focus-over #no6{background-position:-120px -230px;}
.result .focus-over #no7{background-position:-144px -230px;}
.result .focus-over #no8{background-position:-168px -230px;}
.result .focus-over #no9{background-position:-192px -230px;}
.result .focus-over #no10{background-position:-216px -230px;}
.result_page{height:22px;clear:both;text-align:center;margin-top:10px;}
.pagination a{text-decoration:none;border:1px solid #aae;color:#15b;}
.pagination a,.pagination span{display:inline-block;padding:0.1em 0.4em;margin-right:5px;margin-bottom:5px;vertical-align:middle}
.pagination .current{background:#26b;color:#fff;border:1px solid #aae;}
.pagination .current.prev,.pagination .current.next{color:#999;border-color:#999;background:#fff;}
.pagination .prev,.pagination .next{}
.mapinfo_but{height:55px;overflow:hidden;position:absolute;right:309px;top:100px;width:18px;z-index:20;}
.mapinfo_but_con{background:url(../../images/map/mapinfo.png) repeat scroll 0 0 transparent;cursor:pointer;height:55px;width:42px;}
.mapinfo_but_div{position:absolute;}
.mapinfo_but_span{background:url(../../images/map/mapinfo.png) no-repeat scroll -10px -22px transparent;display:block;height:10px;margin:22px 0 0 10px;overflow:hidden;width:5px;}
.mapinfo_but_close_on .mapinfo_but_span{background-position:-21px -22px;}
.mapinfo_but_open .mapinfo_but_span{background-position:-29px -22px;}
.mapinfo_but_open_on .mapinfo_but_span{background-position:-37px -22px;}
.combobox-item{cursor:pointer;}
.tree-icon{display:none !important;}

.n_p_lineheight{margin:5px 0px;}


.loading-mask{position:absolute;top:0px; left:0px;z-index:100000; background:#fff;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;}
.loading-content{position:absolute;top:50%; left:50%;z-index:100001; background:#fff;border:3px solid #4588BA; padding:10px; margin-left:-60px;margin-top:-20px; font-size:14px; font-weight:blod;}

.filter-mod-map{position:absolute;top:32px;z-index:1000;margin: 0 10px;}
.mod_opts_map{top:5px;right: 10px;}