html,body {font-family:微软雅黑,Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;font-size:12px;color:#666;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none outside none;margin:0;padding:0;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
a {color:#333333;text-decoration:none;cursor:pointer;}
h2 { color: #373B3E;font-size: 14px;line-height: 32px;padding:5px 0 5px 10px;;text-align: left;}
.clear{ clear:both}
.left{ float:left}
.right{ float:right} 
body {
	background-attachment:scroll;
	-moz-background-clip:border-box;
	-webkit-background-clip:border-box;
	-o-background-clip:border-box;
	background-clip:border-box;
	background-color:#f1f1f1;
	background-image:url(../images/bg_top.jpg),url(../images/bg_body.jpg);
	-moz-background-origin:border,border,border,border,padding;
	-webkit-background-origin:border,border,border,border,padding;
	-moz-background-origin:border-box,padding-box;
	-webkit-background-origin:border-box,padding-box;
	-o-background-origin:border-box,padding-box;
	background-origin:border-box,padding-box;
	background-position:0 -90px,0 0;
	background-repeat:repeat-x,repeat;
	-webkit-background-size:320px 77px,128px 128px;
	background-size:320px 77px,128px 128px;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	overflow-x:hidden;
	margin:0;
	padding:0;
	color:#666666;
}
#page {
	margin:auto;
}
#card_body {
	background-position:0 0
}
#header {
	margin:22px auto 0;
	position:relative;
	width:320px;
}
#content{
	margin:0px 10px 20px 10px;
	min-width:301px;
}
#footer{
	margin:10px auto;
	text-align:center;
	clear:both;
	overflow:hidden;
	color:#CCC
	text-shadow:0 1px #999999;
	line-height:25px;
}
.side-nav{ position:fixed; z-index:1;bottom:0px;_position:absolute; _left:expression(eval(document.documentElement.scrollLeft+document.documentElement.offsetWidth/2))  } /* 思考再三，为了导航平滑地滚动，还是用了expression */
.side-nav ul{ zoom:1; position:relative;  }
.side-nav .bg{ position:absolute;  top:0; left:0; width:100%; height:32px; background:#000; filter:alpha(opacity=50);opacity:0.5;   }
.side-nav .curBg{ position:absolute; top:0; left:0; width:33%; height:32px; background:#e60;  }
.side-nav li{ width:33%; float:left;position:relative; display:block}
.side-nav li a{ display:block; color:#fff;   }
.side-nav li a:hover{ text-decoration:none; color:#fff;  }
.submit {
	background-color:#179F00;
	padding:10px 20px;
	font-size:16px;
	text-decoration:none;
	border:1px solid #0B8E00;
	background-image: linear-gradient(bottom,  #179F00 0%, #5DD300 100%);
	background-image: -o-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -moz-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -webkit-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -ms-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #179F00),
	color-stop(1, #5DD300)
	);
	-webkit-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display:block;
	text-align:center;
	text-shadow:0 1px rgba(0, 0, 0, 0.2);
}
.submit:active {
	padding-bottom:9px;
	padding-left:20px;
	padding-right:20px;
	padding-top:11px;
	top:0px;
	background-image: linear-gradient(bottom, #5DD300 0%, #179F00 100%);
	background-image: -o-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -moz-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -webkit-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -ms-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #5DD300),
	color-stop(1, #179F00)
	);
	-webkit-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}
.submit img{ width:15px; margin:-4px 10px 0 0;}

.submit2 {
	background-color:#ffe156;
	padding:10px 20px;
	font-size:16px;
	text-decoration:none;
	border:1px solid #D2BD85;
	background-image: linear-gradient(bottom,  #ffe156 0%, #fff5cb 100%);
	background-image: -o-linear-gradient(bottom, #ffe156 0%, #fff5cb 100%);
	background-image: -moz-linear-gradient(bottom, #ffe156 0%, #fff5cb 100%);
	background-image: -webkit-linear-gradient(bottom, #ffe156 0%, #fff5cb 100%);
	background-image: -ms-linear-gradient(bottom, #ffe156 0%, #fff5cb 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #ffe156),
	color-stop(1, #fff5cb)
	);
	-webkit-box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #333;
	display:block;
	text-align:center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.submit2:active {
	padding-bottom:9px;
	padding-left:20px;
	padding-right:20px;
	padding-top:11px;
	top:0px;
	background-image: linear-gradient(bottom, #fff5cb 0%, #ffe156 100%);
	background-image: -o-linear-gradient(bottom,  #fff5cb 0%, #ffe156 100%);
	background-image: -moz-linear-gradient(bottom,  #fff5cb 0%, #ffe156 100%);
	background-image: -webkit-linear-gradient(bottom,  #fff5cb 0%, #ffe156 100%);
	background-image: -ms-linear-gradient(bottom,  #fff5cb 0%, #ffe156 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #fff5cb),
	color-stop(1, #ffe156)
	);
	-webkit-box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.submit2 img{ width:15px; margin:-4px 10px 0 0;}
.del{
	background-color:#F4F4F4;
	padding:10px 20px;
	font-size:16px;
	text-decoration:none;
	border:1px solid #ABABAB;
	background-image: linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
	background-image: -o-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
	background-image: -moz-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
	background-image: -webkit-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
	background-image: -ms-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #E1E1E1),
	color-stop(1, #ffffff)
	);
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #666666;
	display:block;
	text-align:center;
	text-shadow:0 1px #FFF;
}
.del:active {
	padding-bottom:9px;
	padding-left:20px;
	padding-right:20px;
	padding-top:11px;
	top:0px;
	background-image: linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
	background-image: -o-linear-gradient(bottom,  #ffffff 0%, #E1E1E1 100%);
	background-image: -moz-linear-gradient(bottom,  #ffffff 0%, #E1E1E1 100%);
	background-image: -webkit-linear-gradient(bottom,  #ffffff 0%, #E1E1E1 100%);
	background-image: -ms-linear-gradient(bottom,  #ffffff 0%, #E1E1E1 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #ffffff),
	color-stop(1, #E1E1E1)
	);
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.25);
}
.del img{ width:15px;width:15px; margin:-4px 10px 0 0;}
.receive {
	background-color:#F4F4F4;
	padding:6px 20px;
	position:relative;
	font-size:16px;
	text-decoration:none;
	border:1px solid #C6C6C6;
	background-image:linear-gradient(bottom,#E1E1E1 0%,#ffffff 100%);
	background-image:-o-linear-gradient(bottom,#E1E1E1 0%,#ffffff 100%);
	background-image:-moz-linear-gradient(bottom,#E1E1E1 0%,#ffffff 100%);
	background-image:-webkit-linear-gradient(bottom,#E1E1E1 0%,#ffffff 100%);
	background-image:-ms-linear-gradient(bottom,#E1E1E1 0%,#ffffff 100%);
	background-image:-webkit-gradient(  linear,left bottom,left top,color-stop(0,#E1E1E1),color-stop(1,#ffffff)  );
	-webkit-box-shadow:0 1px 0 #FFFFFF inset,0 1px 0 #EEEEEE;
	-moz-box-shadow:0 1px 0 #FFFFFF inset,0 1px 0 #EEEEEE;
	box-shadow:0 1px 0 #FFFFFF inset,0 1px 0 #EEEEEE;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	border-radius:35px;
	color:#666666;
	display:block;
	text-align:center
}
.receive:before {
	background-image:linear-gradient(bottom,rgba(255,255,255,0.41) 0%,#E1E1E1 100%);
	background-image:-o-linear-gradient(bottom,rgba(255,255,255,0.41) 0%,#E1E1E1 100%);
	background-image:-moz-linear-gradient(bottom,rgba(255,255,255,0.41) 0%,#E1E1E1 100%);
	background-image:-webkit-linear-gradient(bottom,rgba(255,255,255,0.41) 0%,#E1E1E1 100%);
	background-image:-ms-linear-gradient(bottom,rgba(255,255,255,0.41) 0%,#E1E1E1 100%);
	background-image:-webkit-gradient(  linear,left bottom,left top,color-stop(0,rgba(255,255,255,0.41)),color-stop(1,#E1E1E1)  );
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:5px;
	left:-5px;
	top:-6px;
	z-index:-1;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	border-radius:35px;
	-webkit-box-shadow:0 1px 1px rgba(144,145,147,0.21) inset,0 1px 0 rgba(255,255,255,0.57);
	-moz-box-shadow:0 1px 1px rgba(144,145,147,0.21) inset,0 1px 0 rgba(255,255,255,0.57);
	-o-box-shadow:0 1px 1px rgba(144,145,147,0.21) inset,0 1px 0 rgba(255,255,255,0.57);
	box-shadow:0 1px 1px rgba(144,145,147,0.21) inset,0 1px 0 rgba(255,255,255,0.57);
}
.receive:active {
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	padding-top:7px;
	top:0px;
	background-image:linear-gradient(bottom,#ffffff 0%,#E1E1E1 100%);
	background-image:-o-linear-gradient(bottom,#ffffff 0%,#E1E1E1 100%);
	background-image:-moz-linear-gradient(bottom,#ffffff 0%,#E1E1E1 100%);
	background-image:-webkit-linear-gradient(bottom,#ffffff 0%,#E1E1E1 100%);
	background-image:-ms-linear-gradient(bottom,#ffffff 0%,#E1E1E1 100%);
	background-image:-webkit-gradient(  linear,left bottom,left top,color-stop(0,#ffffff),color-stop(1,#E1E1E1)  );
}
.yellow{color:#F90}
.red{ color:#F30}
.green{ color:#093}
.blue{ color:#39F}
.pink{ color:#F69}
.greens{ color:#690}
.fb{ font-weight:bold}
.f14{ font-size:14px;}
.box_exp {
	border:1px solid #C6C6C6;
	background-color:rgba(255,255,255,0.8);
	text-align:left;
	font-size:14px;
	line-height:24px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow:0 1px 1px #f6f6f6;
	margin-bottom:10px;
	position:relative;
	overflow:hidden
}
.box_exp ul li {
	width:33%;
	float:left;
	display:block; 
}
.box_exp ul li i {
	display:block;
	text-align:center;
	font-size:34px;
	padding-top:10px;
}
.box_exp ul li i img{
	max-width:60%;
}
.box_exp ul li span {
	display:block;
	text-align:center;
	padding-bottom:1px; 
}
.box_exp ul li em {
	font-weight:bold;
	font-style:normal;
	color:#F30;
	display:block;
	text-align:center;
	padding-bottom:1px;
}
.box_exp ul li .line {
	border-right:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
}
.box_exp ul li .line2 {
	border-bottom:1px dotted #ccc;
}
.box_exp ul li .line3 {
	border-right:1px dotted #ccc;
}
.banners{
	display:block;
	text-align:center;
	position: relative;
	min-height: 26px;
	margin-bottom:10px;
}
.banners img{
	width:100%;
	border:0;
	min-width:320px;
}

.banner {
	position: relative;
	width: 100%;
	overflow: auto;
	text-align: center;
	margin-bottom:10px;
}
.banner ul li {
	display: block;
	float: left;
	min-height: 150px;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}
.round ul {
	border:1px solid #C6C6C6;
	background-color:rgba(255,255,255,0.9);
	text-align:left;
	font-size:14px;
	line-height:24px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-moz-box-shadow:0 1px 1px #f6f6f6;
	-webkit-box-shadow:0 1px 1px #f6f6f6;
	box-shadow:0 1px 1px #f6f6f6;
	margin-bottom:11px;
	display:block;
	overflow:hidden;
	-webkit-transition:height 0.6s;
	-moz-transition:height 0.6s;
	-o-transition:height 0.6s;
	transition:height 0.6s;
}
.round ul li {
	border:solid #C6C6C6;
	border-width:0 0 1px 0;
	padding:0px 10px 0 10px;
}
.round ul li:only-of-type {
	border-width:0;
}
.round ul li:last-of-type {
	border-width:0;
}
.round ul li,.round ul li span,.round ul li a {
	line-height:22px;
}
.round ul li p {
	padding:0;
	margin:2px 0;
	color:#999;
	font-size:12px;
	line-height:14px;
}
.round ul li h2 {
    color: #373B3E;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 10px 0 10px 0;
	border-bottom:1px dotted #C6C6C6;
}
.round ul li span h2 {
    color: #373B3E;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 6px 20px 6px 0;
	border-bottom:0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.round ul li img {
	max-width:100%;
	border:0;
}
.round ul li span {
	display:block;
	background:url(../images/arrow.png) no-repeat right 50%;
	-webkit-background-size:8.5px 13px;
	background-size:8.5px 13px;
	padding:10px 20px 9px 0;
	position:relative;
	font-size:16px;
	min-height:22px;
}
.round li span.none {
    background: none repeat scroll 0 0 transparent;
}
.round ul li span img {
	border:0 none;
	width:50px;
	height:50px;
	float:left;
	margin:0 10px 0 0;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:url(../img/cardnone.jpg) no-repeat scroll 0 0 transparent;
	background-size:50px 50px;
}
.round ul li span p {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-right:25px;
}
.round ul li span em {
	display:block;
	-webkit-border-radius:20px;
	border-radius:20px;
	color:#FFF;
	font-size:12px;
	line-height:12px;
	margin-top:-10px;
	padding:4px 8px;
	position:absolute;
	right:20px;
	top:50%;
	text-shadow:0 0 #FFFFFF;
	font-style:normal;
}
em.ok {background-color:#1CC200}
em.error {background-color:#FF6600}
em.no {background-color:#BBBBBB}
em.more {text-shadow:0 1px #FFF !important;color:#666666 !important;right:8px !important}
.mb{ margin-bottom:8px}
.round ul li.address {
	background:url(../images/address.png) no-repeat scroll 10px 13px transparent;
	background-size:15px 15px;
	line-height:22px;
	padding-left:34px;
}
.round ul li.tel {
	background:url(../images/tel.png) no-repeat scroll 11px 13px transparent;
	background-size:15px 15px;
	line-height:22px;
	padding-left:34px;
}
.round ul li.nob {
    border-width:0;
}
.round ul li.nob .px{
    border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 5px 0 4px;
	padding: 5px 10px;
}
.round ul li.nob .dropdown-select{
    border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 5px 0 4px;
	padding: 5px 10px;
}
.round ul li.nob .pxtextarea{
    border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 5px 0 5px;
	padding: 5px 10px;
}
.round ul li.nob:last-of-type {
	margin-bottom:8px
}
.round ul li.title{
	background-color:#E1E1E1;
    background-image: linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);
	background-image: -o-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);
	background-image: -moz-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);
	background-image: -webkit-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);
	background-image: -ms-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #E7E7E7),color-stop(1, #f9f9f9));
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.round ul li.title span{
    padding: 7px 15px 6px 0; color:#666;text-shadow:0 1px #FFF;
}
.info_head {
	border:1px solid #C6C6C6;
	background-color:rgba(255, 255, 255, 0.8);
	text-align:left;
	font-size:14px;
	line-height:24px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow:0 1px 1px #f6f6f6;
	padding:10px;
	margin-bottom:10px;
}
.info_head .title {
	display:block;
	background:url(../images/arrow.png) no-repeat right 50%;
	-webkit-background-size:8.5px 13px;
	background-size:8.5px 13px;
	padding-right: 15px;
	line-height: 18px;
}
.info_child{
	padding:10px 0;
	line-height:28px;
	border-top:1px #DDDDDD solid;
	margin-top:10px;
}
.info_child img{
	max-width:285px
}
.info_child_txt{
	border-top:1px #CCCCCC dotted;
	padding-top:10px;
}
.info_light{ padding:10px;}
.info_light .title {
	background:url(../images/arrow2.png) no-repeat right 50%;
	-webkit-background-size:13px 8.5px;
	background-size:13px 8.5px;
	line-height: 24px;
	display:block;
}
.info_integral { 
	cursor:pointer;
	min-height:24px;
}
.info_integral  i{
	padding-left:5px;
	margin-right:10px;
	font-size:20px;
	position:relative;
	top:2px;
	color:#999
}
.info_integral .title{
	color:#666;
	font-size:15px;
}
.info_integral .titles{
	color:#009FCC;
	font-size:15px;
	font-weight:bold
}
.info_card {
	padding:10px 0 10px 55px;
	cursor:pointer;
	-webkit-background-size:24px 24px;
	background-size:24px 24px;
	min-height:48px;
	position:relative;
	border-bottom:1px #CCCCCC dotted
}
.info_card:last-child{ 
	border-bottom:0px #CCCCCC dotted
}
.info_card_price{
	padding-top:10px;
	line-height: 30px;
	font-weight:bold;
	display:block;
	font-size:14px;
	color:#F30;
	overflow:hidden;
}
.info_card_price em {
	display:block;
	-webkit-border-radius:20px;
	border-radius:20px;
	color:#FFF;
	font-size:12px;
	line-height:12px;
	margin-top:5px;
	padding:4px 8px;
	top:50%;
	text-shadow:0 0 #FFFFFF;
	font-style:normal;
}
.info_card  i{
	display:block;
	color:#999;
	position:absolute;
	top:4px;
	left:-7px;
	text-align:center;
}

.info_card i img{
	max-width:60px;
	max-height:60px;
	min-width:60px;
	min-height:60px;
}
.info_card h1{ font-size:15px; font-weight:bold}
.info_card .title{
	background:none;
	-webkit-background-size:8.5px 13px;
	background-size:8.5px 13px;
	line-height: 24px;
	display:block;
	font-size:12px;
	color:#999
}
.info_card .titles{
	background:none;
	-webkit-background-size:8.5px 13px;
	background-size:8.5px 13px;
	line-height: 24px;
	display:block;
	font-size:14px;
	color:#ff3366;
	font-weight:bold
}

#nav-footer {
	position:fixed;
	z-index:1;
	bottom: 0px;
	bottom: 0px;
	display:block;
	width:100%;
}
*html #nav-footer {
	
	margin-top: -1px; 
	position: absolute;
	top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}
#nav-footer ul{ zoom:1; position:relative;}
#nav-footer ul li {
	width:33%;
	float:left;
	display:block;
	text-align:center;
	border-bottom:2px #2C2C2C solid;
	background-image: linear-gradient(bottom, #2C2C2C 0%, #434343 100%);
	background-image: -o-linear-gradient(bottom, #2C2C2C 0%, #434343 100%);
	background-image: -moz-linear-gradient(bottom, #2C2C2C 0%, #434343 100%);
	background-image: -webkit-linear-gradient(bottom, #2C2C2C 0%, #434343 100%);
	background-image: -ms-linear-gradient(bottom, #2C2C2C 0%, #434343 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2C2C2C),color-stop(1, #434343));
}
#nav-footer ul li i {
	display:block;
	color:#ACACAC;
	text-align:center;
	font-size:28px;
	padding-top:10px;
	padding-bottom:10px;
}
#nav-footer ul li.on{
	border-bottom:2px #AE432C solid;
	background-image: linear-gradient(bottom, #000000 0%, #423C3E 100%);
	background-image: -o-linear-gradient(bottom, #000000 0%, #423C3E 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #423C3E 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #423C3E 100%);
	background-image: -ms-linear-gradient(bottom, #000000 0%, #423C3E 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #000000),color-stop(1, #423C3E));
}
#nav-footer ul li.on i {color:#FFFFFF;}


.d_header nav { background-color: #e60303; font-size: 1.6rem; line-height: 5rem; height:5rem; color: #fff; position: relative; }
.d_header nav h1 { text-align: center; font-size: 1.8rem; line-height: 5rem; -webkit-text-shadow: 1px 0 1px rgba(0,0,0,.4); text-shadow: 0 1px 1px rgba(0,0,0,.4); }
.d_header nav .back { position: absolute; top: 0; left: 0; bottom: 0; width: 6rem; text-align:center; overflow: hidden; color:#fff; }
.d_header nav i { vertical-align: baseline; font-size: 3rem; line-height: 5rem; }
.d_header nav .back span { display:none; }
.d_header nav .h_cart { position: absolute; top: 0; bottom: 0; right:2rem; width: 6rem; color: #fff; text-align:right; }
.d_header nav .h_cart a { color:#fff; display:block; }

.ui_sku input { display: none; }
.ui_sku label { font-size:1.2rem; display: inline-block; border: 1px solid #d8d8d8; background-color: #fff; min-width: 2em; padding: 0.2em 0.8em; margin: 0 1.5% 0.5em 0; max-width: 100%; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0rem; border-radius: 0rem; color:#5e5e5e; }
.ui_sku label.btn_no { background-color: #fafafa; color:#a9a9a9; }
.ui_sku label.btn_opt { background-color: #ce2020; border: 1px solid #ce2020; color:#fff; }
.ui_sku_prop { border-bottom:#d6d6d6 solid 1px; padding:1rem 0 0.5rem; }
.ui_sku h2, .quantity h2 { font-weight:normal; width:25%; float:left; font-size:1.4rem;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;}
.ui_sku .items, .quantity .items { width:75%; float:left; }

.quantity { border-bottom:#d6d6d6 solid 1px; padding:1rem 0; }
.quantity .items span { float:left; display:block; font-size:1.2rem; height:3rem; line-height:3rem; }
.quantity .items .purchase { margin:0 0 0 1rem; }
.quantity .items .purchase-v { display:inline; float:none; }

.ui_number { display: inline-block; vertical-align: middle; border: 1px solid #e3e3e3; letter-spacing: 0; height: 3.6rem; line-height: 3.6rem; overflow: hidden; }
.ui_number button { font-style: normal; font-size: 2.0rem; font-weight: normal; border: 0; display: inline-block; width: 3.2rem; height: 100%; color:#676767; -webkit-user-select: none; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#eeefee)); background-image: -webkit-linear-gradient(top, #efefef 0, #eeefee 100%); background-image: linear-gradient(180deg, #efefef 0, #eeefee 100%); }
.ui_number .num { height: 100%; width: 4rem; border: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.2); box-shadow: inset 0 0px 0px rgba(0,0,0,.2); font-weight: 700; }
.ui_number .increase, .ui_number .decrease, .ui_number .num { float: left; text-align: center; padding:0; border:none; }


.h_cart a i { font-size: 3rem; }
.h_cart a span { display:none; }
.h_cart a em { width:20px; height:20px; line-height:20px; background:#cd2e2e; border:#fff solid 2px; border-radius:50%; padding:0; position:absolute; top:0.5rem; right:-1rem; font-size:1.4rem; text-align:center;}
.de_buybox { background:#FFF; -webkit-box-shadow: 0rem 0rem 1rem rgba(0,0,0,.2); box-shadow: 0rem 0rem 1rem rgba(0,0,0,.2); }


